.greaterThan:before {
  content: "\02B06";
  color: green;
}

.lessThan:before {
  content: "\02B07";
  color: red;
}

.card {
  width: 260px;
  min-width: 220px;
  border: 1px solid #757575;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 15px;
  padding: 10px;
  background-image: url('../Images/background1.jpg');
  background-size: cover;
}

.card:hover{
  background-color: #F5F5F5;
  border: 2px solid black;
}

.card-list {
  list-style-type: none;
  margin: auto;
  width: 50%;
}

.card-title {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.selected {
  border: 5px solid blue;
}