.greaterThan {
  color: green;
}

.greaterThan:before {
    content: "\01F44D";
}

.lessThan {
  color: red;
}

.lessThan:before {
  content: "\01F44E"
}

.card {
  width: 300px;
  min-width: 300px;
  border: 1px solid black;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 15px;
  padding: 10px;
}

.card-list {
  list-style-type: none;
  margin: auto;
  width: 45%;
}

.card-title {
  text-align: center;
  margin-top: 10px;
}

.selected {
  border: 3px solid blue;
}